<!-- app/views/questions/ask.html.erb -->
<form action="/answer" method="post" data-turbo="false">
  <!-- Utilise le bon chemin (path) pour l'action 'answer' -->
  <input type="text" name="question" placeholder="Posez votre question">
  <input type="submit" value="Ask!">
</form>

